html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
}

header{
    background-color: #afa2ed;
    text-align: left;
    padding: 15px;
}

header a{
    color: #040404;
    /** El primer valor aplica para top bottom y el segundo para left right **/
    margin: 0 15px;
    text-decoration: none;
    font-weight: bold;
}

main{
    flex: 1;
    padding: 30px;
    text-align: left;
}

main p{
    font-size: 18px;
    margin-bottom: 15px;
}

.input-welcome{
    padding: 10px;
    width:200px;
    margin-bottom: 20px;
}

.button-ok{
    padding: 10px 20px;
    background-color: #6952ee;
    color: #ffffff;
    cursor:pointer;
}
.button-suma{
    padding: 10px 20px;
    background-color: #6952ee;
    color: #ffffff;
    cursor:pointer;
}
.button-resta{
    padding: 10px 20px;
    background-color: #3a3262;
    color: #ffffff;
    cursor:pointer;
}
.button-multi{
    padding: 10px 20px;
    background-color: #1f05b389;
    color: #ffffff;
    cursor:pointer;
}
.button-div{
    padding: 10px 20px;
    background-color: #9767f5;
    color: #ffffff;
    cursor:pointer;
}





footer{
    background-color: #4b355ab6;
    color: #fff;
    text-align: left;
    padding: 15px;
}




